.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #d8f3dc;
  color: black;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 15px;
  border-color: #00bfa5;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 15px;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
.active-link{
  color: #1b4332;
}

