.appointment {
  position: absolute;
  border-radius: 5px;
  background-color: #00bfa5;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  font-size: 0.9rem;
  cursor: move;
}

.appointment:hover {
  background-color: #00796b;
}

.appointment:active {
  cursor: grabbing;
}

.time {
  font-size: 0.9rem;
  font-weight: bold;
}

.details {
  font-size: 0.8rem;
}

.details .topic {
  margin-bottom: 5px;
  font-weight: bold;
}

.details .room,
.details .lecturer {
  opacity: 0.8;
}
