<app-header [name]="currentProfile.name" [role]="currentProfile.role" [imgUrl]="currentProfile.imgUrl"></app-header>
<div class="profile_picker">
  <button (click)="setSecretaryView()">Secretary View</button>
  <button (click)="setLecturerView()">Lecturer View</button>
  <button (click)="setStudentView()">Student View</button>
</div>

<div class="main-layout">
  <app-navigation [changeProfile]="changeProfile"></app-navigation>
  <div class="content">
    <router-outlet ></router-outlet>
    <!--<app-toolbar ></app-toolbar>
    <div class="schedule-container">
      <app-schedule></app-schedule>
    </div>
    -->
  </div>
</div>
