<div class="modal-container">
  <div class="modal-form">
    <div class="modal-header">
      <h2>Update Appointments</h2>
      <button mat-icon-button class="close-btn" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <form [formGroup]="appointmentForm" *ngIf="appointmentForm">
      <label>Title:</label>
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput type="text" formControlName="title" (change)="refreshView()" required/>
        <mat-icon matSuffix class="material-icons color_white">title</mat-icon>
        <mat-error *ngIf="appointmentForm.get('title')?.hasError('required')">
          Title is required
        </mat-error>
      </mat-form-field>

      <label>Date:</label>
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="date"
          (dateChange)="refreshView()"
          required
        />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="appointmentForm.get('date')?.hasError('required')">
          Date is required
        </mat-error>
      </mat-form-field>

      <label>Start time:</label>
      <mat-form-field appearance="fill" class="input-fields">
        <mat-label>Start time</mat-label>
        <input
          matInput
          type="time"
          formControlName="startTime"
          (change)="refreshView()"
          required
        />
        <mat-icon matSuffix class="material-icons color_white">timer</mat-icon>
        <mat-error *ngIf="appointmentForm.get('startTime')?.hasError('required')">
          Start time is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-fields">
        <mat-label>End time</mat-label>
        <input
          matInput
          type="time"
          formControlName="endTime"
          (change)="refreshView()"
          required
        />
        <mat-icon matSuffix class="material-icons color_white">timer</mat-icon>
        <mat-error *ngIf="appointmentForm.get('endTime')?.hasError('required')">
          End time is required
        </mat-error>
      </mat-form-field>


      <div class="submit-buttons">
        <button class="reset" (click)="deleteEvent()">Delete</button>
        <button type="submit" (click)="updateEvent()">Update</button>
      </div>
    </form>
  </div>

  <div class="modal-calendar">
    <app-toolbar [currentDate]="pickedDate" (weekDaysSelected)="onWeekDaysSelected($event)" (selectedDay)="onDaySelected($event)" (selectedView)="onViewSelected($event)"></app-toolbar>
    <app-schedule [refresh]="refresh" [pickedDate]="pickedDate" [pickedView]="calendarView" [events]="events" [isLoaded]="isLoaded" (eventMoved)="onEventMoved($event)" (eventClicked)="onEventClicked($event)"></app-schedule>
  </div>
</div>
