<div class="toolbar">
  <button class="today-button" (click)="resetToCurrentWeek()" [class.active]="currentDateSelected">
    <mat-icon class="button-icon">calendar_today</mat-icon>
    <span>Today</span>
  </button>

  <button mat-icon-button class="nav-button" (click)="setToLastWeek()">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <div class="datepicker-container">
  <mat-form-field>
    <mat-label>Select Date</mat-label>
    <input
      matInput [matDatepicker]="picker"
      [ngModel]="currentDate"
      (dateChange)="onDateSelected($event.value)">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  </div>

  <button mat-icon-button class="nav-button" (click)="setToNextWeek()">
    <mat-icon>chevron_right</mat-icon>
  </button>

  <div class="week-display">
    Week: {{ startOfWeek | date: 'MMM d, yyyy' }} - {{ endOfWeek | date: 'MMM d, yyyy' }}
  </div>

  <button class="toolbox-button" [class.active]="viewMode === 'day'" (click)="setViewMode('day')">
    <mat-icon class="button-icon">view_day</mat-icon>
    <span>Daily</span>
  </button>

  <button class="toolbox-button" [class.active]="viewMode === 'week'" (click)="setViewMode('week')">
    <mat-icon class="button-icon">view_week</mat-icon>
    <span>Weekly</span>
  </button>

  <mat-icon *ngIf="showCreateField" class="edit-icon" (click)="triggerCreateModalWindow()">playlist_add</mat-icon>
  <mat-icon *ngIf="showEditField" class="edit-icon" (click)="triggerEditModalWindow()">edit_calendar</mat-icon>

  <app-lecturer-drop-down *ngIf="showLecturerSelect" [lecturers]="lecturerOptions" (lecturerSelected)="emitSelectedLecturer($event)"></app-lecturer-drop-down>
  <app-room-drop-down *ngIf="showRoomSelect" [rooms]="roomOptions" (roomSelected)="emitSelectedRoom($event)"></app-room-drop-down>

  <label class="checkbox-label">
    <input type="checkbox" /> Distance
  </label>

  <button mat-icon-button class="filter-button">
    <mat-icon>filter_list</mat-icon>
  </button>
</div>
