<div class="schedule-grid">
  <div class="week-header">
    <div *ngFor="let day of weekDays" class="day-header">
      <div class="day-name">{{ day.name }}</div>
      <div class="day-date">{{ day.date }}</div>
    </div>
  </div>

  <div class="time-scale">
    <div *ngFor="let time of timeScale" class="time-slot">
      {{ time }}
    </div>
  </div>

  <div class="appointments">
    <app-appointment
      *ngFor="let overlap of calculateOverlaps()"
      [date]="overlap.appointment.date"
      [startTime]="overlap.appointment.startTime"
      [endTime]="overlap.appointment.endTime"
      [lecturers]="overlap.appointment.lecturers"
      [courses]="overlap.appointment.courses"
      [rooms]="overlap.appointment.rooms"
      [topic]="overlap.appointment.topic"
      [maxHours]="overlap.appointment.maxHours"
      [id]="overlap.appointment.id"
      [draggable]="draggable"
      [scheduleHeight]="scheduleHeight"
      [gridWidth]="gridWidth"
      [overlapCount]="overlap.overlapCount"
      [overlapIndex]="overlap.overlapIndex"
    ></app-appointment>
  </div>
</div>
