<nav class="navigation-container">

  <section class="navigation-section dynamic-section">
    <h3>{{dynamicHeader}}</h3>
    <li *ngFor="let link of filteredLinks" class="navigation-item">
      <a [routerLink]="link.path"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact:true}">
        <mat-icon class="search-icon">{{link.icon}}</mat-icon>
        {{link.label}}
      </a>
    </li>
  </section>

  <section class="navigation-section">
    <h3>Search schedules by </h3>
    <ul>
      <li *ngFor="let link of staticLinks" class="navigation-item">
        <a [routerLink]="link.path"
           routerLinkActive="active-link"
           [routerLinkActiveOptions]="{exact:true}"
           >
          <mat-icon class="search-icon">{{link.icon}}</mat-icon>
          {{link.label}}
        </a>
      </li>
    </ul>
  </section>

</nav>
