/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #eaeaea
}

.cal-event{
  user-select: none;
  border-radius: 15px;
  border: black solid 2px !important;
  cursor: default;
}


.cal-week-view{
  background-color: transparent;
  border-top:  solid 0 transparent !important;
}

.cal-week-view, .cal-event{
  overflow: scroll !important;
}
.cal-day-headers {
  user-select: none;
  background-color: #34c3a3 !important;
  color: white !important;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border-radius: 20px 20px 0 0;

}
.cal-header {
  user-select: none;
  background-color: #34c3a3 !important;
  color: white !important;
  font-weight: bold;
  text-align: center;
  padding: 12px;
  font-size: 16px;
}

.cal-time-events{
  border-bottom: transparent 4px solid !important;
}

.mat-mdc-tab-body-wrapper{
  height: inherit !important;
}

.vis-item.static-events{
  background-color: #7E7F86FF;
  border: 1px solid black !important;
  border-radius: 15px;
}

.vis-item.movable-events{
  background-color: #62D2DC !important;
  border: 1px solid black !important;
  border-radius: 7px;
}
