<aside class="navigation">
  <section class="faculty-section">
    <h3>Courses from faculty [Faculty]</h3>
    <ul class="course-list">
      <li *ngFor="let course of courses" class="course-item">
        <mat-icon class="course-icon">groups</mat-icon> {{ course }}
      </li>
    </ul>
  </section>
  <hr class="divider" />
  <section class="search-section">
    <h3>Search schedules by</h3>
    <ul class="search-list">
      <li class="search-item">
        <mat-icon class="search-icon">person</mat-icon> Lecturer
      </li>
      <li class="search-item">
        <mat-icon class="search-icon">location_on</mat-icon> Room
      </li>
    </ul>
  </section>
</aside>
